@model CapstoneProjectFrancesco.Models.Ordine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ordine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatoConsegna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatoConsegna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatoOrdine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatoOrdine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Importo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spedizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImportoSpedizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImportoSpedizione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdOrdine }) |
    @Html.ActionLink("Back to List", "Index")
</p>
