@model IEnumerable<CapstoneProjectFrancesco.Models.Ordine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoConsegna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImportoSpedizione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatoConsegna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatoOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indirizzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImportoSpedizione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOrdine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOrdine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOrdine })
        </td>
    </tr>
}

</table>
