@model CapstoneProjectFrancesco.Models.Scaffale_Prodotti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Scaffale_Prodotti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prodotti.NomeProdotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prodotti.NomeProdotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scaffale_Magazzino.DescrizioneScaffale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scaffale_Magazzino.DescrizioneScaffale)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdScaffaleProdotti }) |
    @Html.ActionLink("Back to List", "Index")
</p>
