@model CapstoneProjectFrancesco.Models.Aziende

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center mt-5 mb-5 text-black fw-bold">Registra azienda</h2>
<div>


</div>
@using (Html.BeginForm("Create", "Aziende", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*<div class="form-horizontal">
            <h4>Aziende</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NomeAzienda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeAzienda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeAzienda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IndirizzoAzienda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IndirizzoAzienda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IndirizzoAzienda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RecapitoAzienda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RecapitoAzienda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RecapitoAzienda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescrizioneAzienda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescrizioneAzienda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescrizioneAzienda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FotoAzienda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FotoAzienda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FotoAzienda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LogoAzienda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LogoAzienda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LogoAzienda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    @Html.EditorFor(model => model.NomeAzienda, new { htmlAttributes = new { @class = "form-control", id = "NomeAzienda" } })
                    @Html.ValidationMessageFor(model => model.NomeAzienda, "", new { @class = "text-danger" })
                    <label class="form-label text-black p-0 fw-bold" for="NomeAzienda">Nome Azienda*</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    @Html.EditorFor(model => model.IndirizzoAzienda, new { htmlAttributes = new { @class = "form-control", id = "IndirizzoAzienda" } })
                    @Html.ValidationMessageFor(model => model.IndirizzoAzienda, "", new { @class = "text-danger" })
                    <label class="form-label text-black fw-bold p-0" for="IndirizzoAzienda">Indirizzo Azienda</label>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    @Html.EditorFor(model => model.RecapitoAzienda, new { htmlAttributes = new { @class = "form-control", id = "RecapitoAzienda" } })
                    @Html.ValidationMessageFor(model => model.RecapitoAzienda, "", new { @class = "text-danger" })
                    <label class="form-label text-black fw-bold p-0" for="RecapitoAzienda">Recapito Azienda</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    @Html.EditorFor(model => model.DescrizioneAzienda, new { htmlAttributes = new { @class = "form-control", id = "DescrizioneAzienda" } })
                    @Html.ValidationMessageFor(model => model.DescrizioneAzienda, "", new { @class = "text-danger" })
                    <label class="form-label text-black fw-bold p-0" for="DescrizioneAzienda">Descrizione Azienda</label>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label>Carica qui la foto della tua azienda<small> (opzionale)</small></label>
                <div class="form-outline">
                    @Html.EditorFor(model => model.FotoAzienda, new { htmlAttributes = new { @class = "form-control text-black fw-bold", id = "FotoAzienda", type = "file" } })
                    @Html.ValidationMessageFor(model => model.FotoAzienda, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col">
                <label>Carica qui il logo della tua azienda<small> (opzionale)</small></label>
                <div class="form-outline">
                    @Html.EditorFor(model => model.LogoAzienda, new { htmlAttributes = new { @class = "form-control text-black fw-bold", id = "LogoAzienda", type = "file" } })
                    @Html.ValidationMessageFor(model => model.LogoAzienda, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 d-flex justify-content-start">
                <input type="submit" value="Registra" class="btn btn-warning" />
                <div>
                    @Html.ActionLink("Indietro", "Index", "", new {@class="btn btn-dark ms-2"})
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <p class="text-black fw-bold">( * ) Campi obbligatori</p>
            </div>
                <div class="d-flex justify-content-end">
                    <p class="text-muted fw-bold">(opzionale) Se lasciati vuoti verrano caricati di default dei placeholder.</p>
                </div>
        </div>
    </div>
}


