@model IEnumerable<CapstoneProjectFrancesco.Models.Corsie_Magazzino>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center mt-5 mb-5 text-black fw-bold">Corsie magazzino</h2>

<div class="container">
    <table class="table table-info">
        <tr>
            <th class="fs-5">
                @Html.DisplayNameFor(model => model.DescrizioneCorsia)
            </th>
            <th>
                @Html.ActionLink("Aggiungi corsia", "Create", "", new { @class = "btn btn-warning" })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="fw-bold">
                    @Html.DisplayFor(modelItem => item.DescrizioneCorsia)
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdCorsia }, new { @class = "text-black" }) |
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdCorsia }, new { @class = "text-danger" })
                </td>
            </tr>
        }

    </table>
</div>
